.git
.github
.env
.gitattributes
docker-compose.override.yml
legacy/node_modules
legacy/tests
legacy/tests-e2e
legacy/phpstan-bootstrap.php
legacy/phpstan-stubs.php
legacy/psalm-bootstrap.php
legacy/psalm-stubs.php
docker
CODE_OF_CONDUCT.md
AGENTS.md
README.md
SECURITY.md
.gitignore
