legacy/application/cache/*
!legacy/application/cache/index.html
!legacy/application/cache/.htaccess

legacy/application/logs/*
!legacy/application/logs/index.html
!legacy/application/logs/.htaccess
/nbproject/private/

legacy/application/temp/*
!legacy/application/temp/index.html
!legacy/application/temp/.htaccess
!legacy/application/temp/README.TXT
/legacy/application/language/extract.php
/legacy/application/language/test.txt
/.sonar/

/.vscode/

/legacy/vendor/
/vendor/

/legacy/node_modules/
/node_modules/
/legacy/assets/js/app.js
/legacy/assets/css/app.css

/legacy/yarn-error.log

/legacy/test-results/
/legacy/test_*.txt
